/* Настройка кнопки "Наверх" */

.button_to_top {
    z-index: 9999; 
    position: fixed; 
    bottom: 2em; 
    top: 2em;
    right: 2em; 
    width: 3em; 
    height: 3em;
    background-color: #666;
    text-align: center;
    opacity: 0;
    transition-duration: 400ms;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    cursor: default;
    font-family: sans-serif;
}

.button_to_top.show {
    opacity: 0.75;
    cursor: pointer;
}

.button_to_top i {
    margin-top: 6px;
    color: #fff;
}

.button_to_top.show:hover { 
    background-color: #333;
    /*opacity: 0.75;*/
}

@media only screen and (max-width: 860px) {

.button_to_top {
    display: none; 
}

}


/* Настройка виджетов "Вход/Выход", "Статус участника сайта */

.mif_wpc_user_login_widget.logged-in img.avatar,
.mif_wpc_join_to_multisite_widget img.avatar {
    width: 50px;
    height: auto;
    float: left;
}

.mif_wpc_user_login_widget.logged-in h4,
.mif_wpc_join_to_multisite_widget h4 {
    margin-bottom: 0.5em;
}

.mif_wpc_user_login_widget.logged-in div,
.mif_wpc_join_to_multisite_widget div {
    margin-left: 65px;
}

.mif_wpc_user_login_widget.logged-in a, 
.mif_wpc_user_login_widget.logged-in a:hover,
.mif_wpc_join_to_multisite_widget a,
.mif_wpc_join_to_multisite_widget a:hover
 {
    color: #303133;
}

.mif_wpc_user_login_widget.logged-in a.logout,
.mif_wpc_join_to_multisite_widget a.logout {
    font-size: 95%;
}

.mif_wpc_user_login_widget.logged-in a.username,
.mif_wpc_join_to_multisite_widget a.username {
    font-size: 105%;
}



/* Настройка страницы настройки */


.settings_page_mif-wp-customizer table td.one {
    width: 20%;
}

.settings_page_mif-wp-customizer table td, .settings_page_mif-wp-customizer table th {
    vertical-align: top;
    padding: 8px 8px 24px 0px;
}

.settings_page_mif-wp-customizer table td label {
    vertical-align: top;
}

.settings_page_mif-wp-customizer table td h2 {
    margin-bottom: 0;
}


/* Диалоговые окна */

.note, .err, .wrn {
    width: 80%;
    padding: 2em;
    margin: 1em 0;
    background-color: #eee;
}

.note {
    border-left: 4px solid #009000;
}

.wrn {
    border-left: 4px solid #FFBA00;
}

.err {
    border-left: 4px solid #FF0000;
}